[submodule "gitraf"]
	path = gitraf
	url = https://git.rafayel.dev/gitraf.git
[submodule "gitraf-server"]
	path = gitraf-server
	url = https://git.rafayel.dev/gitraf-server.git
[submodule "gitraf-pages"]
	path = gitraf-pages
	url = https://git.rafayel.dev/gitraf-pages.git
[submodule "gitraf-deploy"]
	path = gitraf-deploy
	url = https://git.rafayel.dev/gitraf-deploy.git
[submodule "gitraf-infra"]
	path = gitraf-infra
	url = git@rafayel-dev-hetzner.tail34f3b.ts.net:gitraf-infra.git
