apiVersion: v1
kind: Service
metadata:
  name: gitraf-core
  labels:
    app: gitraf-core
    component: git-backend
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: gitraf-core
